{% extends "base.html" %}
{% load static %}
{% block styles %}
        <!-- Added Styles -->
        <link rel="stylesheet" href="{% static 'blog/css/home.css' %}">
{% endblock styles %}

{% block title %}Blog Home{% endblock title %}

{% block content %}

  {% if tag %}
    <div class="tag">
      <h2>Posts tagged with "{{ tag.name }}"</h2>
    </div>
  {% endif %}
  
  <div class="wrapper">

    <div class="posts">
    {% for post in posts %}
      <div class="post">
        <h2>
          <a href="{{ post.get_absolute_url }}">
            {{ post.title }}
          </a>
        </h2>
        <hr class="one">
        <p class="author"><small><i class="fa-solid fa-user-pen"></i> {{ post.author }} </small></p>

        <div class="content">
          <img src="https://i.pinimg.com/originals/fe/e8/65/fee865e337acd647272d302ddca8d412.png" width="200">
          <p class="body">
            {{ post.body|truncatewords:30 }}
          </p>
          
        </div>

        <div class="read-more">
          <a href="{{ post.get_absolute_url }}">
            READ MORE
          </a>
        </div>

        <hr class="two">

        <p class="date">
        Published {{ post.publish.date }} 
        </p>

        <p class="tags">
                {% for tag in post.tags.all %}
                  <a href="{% url "blog:post_list_by_tag" tag.slug %}">
                  {{ tag.name }}
                  </a>
                  {% if not forloop.last %}, {% endif %}
                {% endfor %}
        </p>
        
      </div>
    {% endfor %}
    </div>
    
    <div class="side-bar">

      <!-- Search bar -->
      <div class="search-bar">
        <p>Search</p>
        <form method="get">
          <input type="search" name="search" placeholder="Search here...">
          <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>

      {% comment %} <!-- Categories bar -->
      <div class="categories-bar">
        <p>Categories</p>
      </div> {% endcomment %}

      <!-- Latest posts bar -->
      <div class="latest-posts-bar">
        <p>Latest posts</p>
        <div class="latest-post">
          <a href="#">
            <img src="https://www.teahub.io/photos/full/186-1866966_death-note-episode-1-english-dub-32-wide.jpg" alt="">
            <p>Lorem ipsum dolor,</p>
          </a>
        </div>
        <div class="latest-post">
          <a href="#">
            <img src="https://cdn.realsport101.com/images/ncavvykf/epicstream/e34fb6af49f1cceecb2580e97a31db4b3d021f83-1400x700.jpg?rect=78,0,1244,700&w=700&h=394&dpr=2" alt="">
            <p>Lorem ipsum dolor, <small>22 Fivri 2022</small></p>
          </a>
        </div>
        <div class="latest-post">
          <a href="#">
            <img src="https://media.indiedb.com/images/groups/1/1/84/okay.gif" alt="">
            <p>Lorem ipsum dolor,</p>
          </a>
        </div>
      </div>

      <!-- Tags bar -->
      <div class="tags-bar">
        <p>Tags</p>
        <ul>
          {% for tag in tags %}
            <li><a href="{% url "blog:post_list_by_tag" tag.slug %}">
              {{ tag.name }}
            </a></li>
          {% endfor %}
        </ul>
      </div>
      
      <!-- Contact bar -->
      <div class="contact-me-bar">
        <p>Find me at</p>
        <div class="socials">
          <a href="https://www.facebook.com/unknownkid18" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="https://github.com/black15" target="_blank"><i class="fa-brands fa-github"></i></a>
          <a href="https://twitter.com/Oussama1337" target="_blank"><i class="fa-brands fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/oussama-talha-443960237/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
      </div>

    </div>
  </div>

 {% include 'blog/paginator.html' with page=posts %}
{% endblock %}