@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Poppins';
}

body {
        background-color: #ececec;
}

.container a#header {
        text-decoration: none;
}
.container h1.header {
        padding-left: 15px;
        color: rgba(43, 43, 43, 0.8);
}